.wrapper-components {
    min-width: calc(100vw - 270px - 30px);
    max-width: calc(100vw - 270px - 30px);
    min-height: 100vh;
    max-height: 100vh;
}

.wrapper-content {
    min-width: calc(100vw - 270px - 30px);
    max-width: calc(100vw - 270px - 30px);
    min-height: 100vh;
    max-height: 100vh;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

.btnSend {
    width: 300px;
    padding: 14px 0 14px 0;
    border-radius: 10px;
    color: white;
    background-color: #999898;
}

.btnSend:hover {
    background-color: #f43f5e;
}